/* icons source: https://material.io/icons/ */

html, body {
  font-family: Roboto, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

.box {
  background: #fff;
  height: 100%;
  width: 400px;
  text-align: left;
}

.box__navigation {
  background: #0097A7;
  height: 64px;
  width: 400px;
  display: flex;
  align-items: stretch;
}

.box__navigation__title {
  width: 90px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.box__navigation__search {
  width: 250px;
  display: flex;
  align-items: center;
}

.box__navigation__close {
  width: 50px;
  display: flex;
  align-items: center;
}

.box__navigation__close__icon, .box__navigation__search__icon {
  margin: auto;
}

input[type=text] {
    width: 150px;
    border: 0;
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    font-weight: lighter;
    color: #E0F7FA;
    background: #0097A7;

    padding: 6px 0px 6px 0px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 230px;
    border: 0;
    border-bottom: 1px solid #ffffff;
    outline: none;
}

input::placeholder {
  color: #B2EBF2;
  font-size: 14px;
  font-weight: lighter;
}

h1 {
  font-size: 20px;
  color: #ffffff;
  font-weight: lighter;
}

#map {
  height: 100%;
  left: 400px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
}
