/**
* Icons: https://fonts.googleapis.com/icon?family=Material+Icons
* Color palette CYAN: https://material.io/guidelines/style/color.html#color-color-palette
*/

html, body {
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}


/* ### NAVIGATION ### */

.navigation {
  background: #0097A7;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.navigation__title {
  width: 90px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.navigation__search {
  width: 250px;
  display: flex;
  align-items: center;
}

.navigation__close {
  width: 50px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.navigation__close__icon, .navigation__search__icon {
  margin: auto;
  cursor: pointer;
}

input[type=text] {
  width: 150px;
  border: 0;
  border-bottom: 1px solid #ffffff;
  font-size: 14px;
  font-weight: lighter;
  color: #E0F7FA;
  background: #0097A7;

  padding: 6px 0px 6px 0px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 230px;
  border: 0;
  border-bottom: 1px solid #ffffff;
  outline: none;
}

input::placeholder {
  color: #B2EBF2;
  font-size: 14px;
  font-weight: lighter;
}

h1 {
  font-size: 20px;
  color: #ffffff;
  font-weight: lighter;
}


/* ### CONTENT ### */

.content {
  background-color: #fff;
  width: 100%;
}

.content__peaks {
  padding: 12px;
}

.content__peaks__span {
  cursor: pointer;
  margin-right: 32px;
  color: #006064;
}


/* ### FOOTER ### */

.footer {
  font-size: 10px;
  color: #006064;
  padding: 12px;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* ### MAP ### */

#map {
  height: 100%;
  position: relative;
}

#maperror {
  position: fixed;
  top: 250px;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: #880E4F;
}
